.main {
 .principal {
   .zona-contenido {
     .listados-marca {
       .solicitar-oferta-link {
         background-color: #efefef;
         padding: 7px;
         border-radius: 4px;
       }
       .solicitar-oferta-label {
         font-weight: 500;
         color: #085fc9;
       }
       .titulo-zona {
         margin-top: 25px;
       }
     }
   }
   .used-cars-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     padding: 20px 0;
     border-bottom: 1px solid #d9d9d9;
     .item {
       flex: 1;
       cursor: pointer;
       border: 1px solid #d9d9d9;
       &:not(:last-of-type) {
         margin-right: 5px;
       }
       .content {
         padding: 10px;
         .title {
           font-size: 15px;
           font-weight: 600;
           color: #333;
         }
         .info {
           margin: 10px 0;
           font-size: 12px;
           color: #666;
         }
         .precio {
           .oferta {
             width: fit-content;
             display: flex;
             align-items: center;
             margin: 5px 0;
             padding: 4px 4px 4px 8px;
             font-size: 18px;
             font-weight: 700;
             color: #fff;
             background-color: #ea6154;
             border-radius: 4px;
             .icono {
               fill: white;
             }
           }
         }
         .solicitar-oferta-label {
           text-align: center;
           margin: 10px 0 2px 0 !important;
         }
       }
       .solicitar-oferta-link {
         background-color: inherit !important;
       }
     }
   }
   .modal-window {
     position: fixed;
     background-color: rgba(0, 0, 0, 0.25);
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 999;
     visibility: hidden;
     opacity: 0;
     pointer-events: none;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;

     &.visible {
       visibility: visible;
       opacity: 1;
       pointer-events: auto;
     }
     &> div {
       width: 30%;
       position: absolute;
       top: 50%;
       left: 50%;
       -webkit-transform: translate(-50%, -50%);
       transform: translate(-50%, -50%);
       padding: 2em;
       background: #efefef;
       -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
       box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     }
     .modal-close {
       color: #6b6b6b;
       line-height: 50px;
       font-size: 100%;
       position: absolute;
       right: 0;
       text-align: center;
       top: 0;
       width: 60px;
       text-decoration: none;
       &:hover {
         color: black;
       }
     }
   }
 }
  .modal {
    background-color: #efefef !important;
    .descripcion-pagina {
      margin-bottom: 15px;
    }
  }
  .modal-close, .solicitar-oferta-link {
    cursor: pointer;
  }
  .formulario.solicitar-oferta {
    width: 100%;
  }
}