.main .principal .zona-contenido .listados-marca .solicitar-oferta-link {
  background-color: #efefef;
  padding: 7px;
  border-radius: 4px; }

.main .principal .zona-contenido .listados-marca .solicitar-oferta-label {
  font-weight: 500;
  color: #085fc9; }

.main .principal .zona-contenido .listados-marca .titulo-zona {
  margin-top: 25px; }

.main .principal .used-cars-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9; }
  .main .principal .used-cars-list .item {
    flex: 1;
    cursor: pointer;
    border: 1px solid #d9d9d9; }
    .main .principal .used-cars-list .item:not(:last-of-type) {
      margin-right: 5px; }
    .main .principal .used-cars-list .item .content {
      padding: 10px; }
      .main .principal .used-cars-list .item .content .title {
        font-size: 15px;
        font-weight: 600;
        color: #333; }
      .main .principal .used-cars-list .item .content .info {
        margin: 10px 0;
        font-size: 12px;
        color: #666; }
      .main .principal .used-cars-list .item .content .precio .oferta {
        width: fit-content;
        display: flex;
        align-items: center;
        margin: 5px 0;
        padding: 4px 4px 4px 8px;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        background-color: #ea6154;
        border-radius: 4px; }
        .main .principal .used-cars-list .item .content .precio .oferta .icono {
          fill: white; }
      .main .principal .used-cars-list .item .content .solicitar-oferta-label {
        text-align: center;
        margin: 10px 0 2px 0 !important; }
    .main .principal .used-cars-list .item .solicitar-oferta-link {
      background-color: inherit !important; }

.main .principal .modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .main .principal .modal-window.visible {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; }
  .main .principal .modal-window > div {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #efefef;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); }
  .main .principal .modal-window .modal-close {
    color: #6b6b6b;
    line-height: 50px;
    font-size: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 60px;
    text-decoration: none; }
    .main .principal .modal-window .modal-close:hover {
      color: black; }

.main .modal {
  background-color: #efefef !important; }
  .main .modal .descripcion-pagina {
    margin-bottom: 15px; }

.main .modal-close, .main .solicitar-oferta-link {
  cursor: pointer; }

.main .formulario.solicitar-oferta {
  width: 100%; }
